.gridName {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

img {
    padding: 1rem;
}

.card {
    border: 1px solid black;
}

.footer {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(67, 73, 73);
    color: white;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    text-align: center;
    font-weight: bold;
}